/.idea/
/.allure
/.allure/allure-2.15.0
!target
!target/allure-results
/target/classes
/target/generated-test-sources/
/target/generated-sources/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/Diplom_3.iml